<div class="test-space" ng-show="inProgress">
	<div ng-show="!testOver">

		<h3 id="question">{{ question }}</h3>

			<ul id="choices">
				<li ng-repeat="choice in choices">
					<label>
						<input type="checkbox" name="answer" value="{{choice}}" />
						{{ choice }}
					</label>
				</li>
			</ul>

			<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
			
	<div ng-show="!answerMode">
		<button ng-click="nextQuestion()" class="nextQuestion">Next</button>
		<span ng-show="correctAnswer">Good Job!</span>
		<span ng-show="!correctAnswer">Whoops!</span>
	</div>

	</div>
	<div ng-show="testOver">
		<h3>Thanks For Playing!</h3>
		<button ng-click="reset()">Try Again</button>
	</div>
	<div id="score">
	Score: {{ score }}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<p>Let's See What Ya Got!!</p>
	<button id="startup" ng-click="start()">Start</button>
</div>