/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';


* {
	list-style: none;
	background-color: #eaf1f2;

}

body {
	margin-top: 70px;
}

 .intro, h1, h3 {
	text-align: center;
}

h1 {
	text-shadow: 1px 1px 2px black;
}
#startup, #submit, #next, #again {
 	color: #ffffff;
 	border: none;
 	border-radius: 4px;
}
#submit {
	background-color: #e42e28;
}
#next {
	background-color: #15a1ff;
}
#startup {
	background-color: #ff6000;
}
#again {
	background-color: #2c3f50;
}